@font-face {
  font-family: "OldeEnglish";
  src: local("OldeEnglish"),url("../font/OldeEnglish.ttf") format("truetype");
}

body {
    background-image: url("../img/crosshatchbackground.jpg");
    background-color: #151535;

    background-size: 100%;
    background-repeat: repeat-y;
    background-position: top;

    color: aliceblue;

    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

    font-size: 20px;
}

.header {
  width: 100%;

  position: fixed;
  left: 0px;
  top: 0px;

  z-index: 10;
}

.headerContainer{
  display: flex;
  flex-direction: row;
}

.headerContainer div {
  flex-grow: 1;
}

.headerSpace {
  height: 220px;
}

.title {
  font-family: OldeEnglish;
  text-align: center;
}

.navbar {

  display: flex;
  flex-direction: row;

  margin: 50px 3% 5px 0;

  background-color: #555575;
}

.navbar div {
  flex-grow: 1;

  border: white 1px solid;

  text-align: center;
  font-size: 25px;
}

.footerContainer {
  margin: 0;
  padding: 0;

  display: flex;
  flex-direction: row;

  background-color: #1f1f42;

  color: gray;
  text-align: center;
  text-wrap-mode: wrap;
}

.footerContainer div {
  margin: 0;
  flex-grow: 1;

  border: #151535 solid;
  border-width: 0px 1px;
}

a:link {
  font-style: unset;
  font-display: unset;
  text-decoration: unset;
  font-weight: unset;
  color: lightblue;

  display: inline;
}

a:visited {
  font-style: unset;
  font-display: unset;
  text-decoration: unset;
  font-weight: unset;
  color: lightblue;
}

.header a:link {
  font-style: unset;
  font-display: unset;
  text-decoration: unset;
  font-weight: unset;
  color: white;
}

.header a:visited {
  font-style: unset;
  font-display: unset;
  text-decoration: unset;
  font-weight: unset;
  color: white;
}

a:hover {
  text-decoration: underline;
  font-weight: bold;

  font-size: 110%;

  transition: font-size 0.2s ease-out;

  cursor: pointer;
}

a:active {
  font-style: unset;
  font-display: unset;
  text-decoration: unset;
  font-weight: unset;
  color: unset;
}

.infobox {
  margin: 10px 10%;
  padding: 10px;

  display: flex;
  flex-direction: column;
  flex-shrink: 1;

  border: white 1px solid;
  background-color: #1f1f42;
}

.flexcontainer {
  padding: 0px;
  margin: 0px;

  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;

  justify-content: center;
}

.flexcontainer .infobox {
  width: 100%;
  margin: 10px 1%;
}

/* Collapsibles */
.collapsible {
  background-color: #454575;
  color: white;

  position: sticky;
  top: 190px;

  z-index: 2;

  cursor: pointer;
}
.subCollapsible {
  background-color: #454575;
  color: white;

  position: unset;

  z-index: 0;
}

.active, .collapsible:hover {
  background-color: #ccc;
  color: black;
}

.collapseDescription {
  margin: 10px;
}

.collapseContent {
  padding: 0px;
  margin: 3px;

  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-in-out;
  
  background-color: #151535;
  border: white solid;
  border-width: 2px;
}

.collapseInterior {
  padding: 10px;
}

/* Tables */
.tableButton {
  background-color: #454575;
  color: white;
}

.tableButton:hover {
  background-color: #ccc;
  color: black;
}

.tableText {
  padding: 3px;
  display: inline;

  background-color: #555575;
  border: white 1px solid;
}

.table {
  border: white 1px solid;
  border-collapse: collapse;

  margin: 3px;
}

.table th {
  background-color: #555575;

  padding: 2px;
}

.table td {
  background-color: #151535;

  padding: 2px;
}

/* BIOMES */

#biomeSelection {
  background-color:#151535;
  border: 1px solid white;

  position: fixed;

  top: 200px;
  right: 1%;

  width: 55px;

  padding: 5px;
}

.biomeButton {
  padding: 0;
  border: black 2px solid;

  background-color: transparent;

  color: white;
}

.biomeActive, .biomeButton:hover {
  border: white 2px solid;
}

/* Biome specific */

.biomeContent{
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-in-out;
}

/*  */

.rulesglossary {
  flex-grow: 1;
}

.simulatorcontainer {
  flex-grow: 3;
}

/* Annotation */
.annot {
  font-size: small;
  color: grey;
  display: inline;
}